body { 
    font-family: Arial, sans-serif; 
    margin: 40px; 
    background-color: #ffffff;
}
h2, h3 { 
    text-align: center; 
    margin-bottom: -15px;
}
h2{
    font-family: "Playfair Display", "Libre Bodoni", "Didot", serif;
}
li{
    font-family: "Lora", "Merriweather", "Palatino Linotype", "Book Antiqua", serif;
    font-size: 20px;
}
h3, p{
    font-size: medium;
    font-family: "Lora", "Merriweather", "Palatino Linotype", "Book Antiqua", serif;
    font-style: italic;
}
nav {  
    margin-top: 10px; 
}
img { 
    display: block; 
    margin-left: 5%; 
    margin-right: auto; 
    width: 7%; 
}
.container { 
    width: 70%; 
    border: 1px solid black;
    margin: auto; 
    padding: 20px; 
    margin-top: -50px; 
    background-color: beige;
}
input{
    background-color: beige;
    height: auto;
    font-size: 20px;
}
table { 
    width: 50%; 
    border-collapse: collapse; 
}
th, td { 
    padding: 8px; 
    text-align: left; 
    font-family: "Lora", "Merriweather", "Palatino Linotype", "Book Antiqua", serif;
}
input { 
    border: none; 
    border-bottom: 1px solid black; 
    width: 200px; 
    font-size: 16px; 
    display: inline-block;
    text-align: justify;
}
.wide-input { 
    width: 70%; 
}
.pass{
    margin-right: auto;
}
.muna{
    margin-right: 5%;
    text-align: justify;
}
.siguro{
    align-content: center;
} 
.sige{
    margin-bottom: auto;
}
hr{
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
}
.btn-print { 
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    background: blue; 
    color: white; 
    border: none; 
    cursor: pointer; 
}
@page {
    size: auto;
    margin: 15mm;
}

@media print {
    .page {
        page-break-before: always; /* Forces a new page */
        margin-top: 5%;
    }
}

@media print {
    input {
        border: none; /* Remove borders */
        outline: none;
    }
    .container{
        border: none;
        width: fit-content;
        background-color: white;
    }
    input{
        background-color: white;
    }
    .btn-print{
        display: none;
    }
}
